<!DOCTYPE html>
<html>
<head>
  <title>Toodles</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<h1> TOODLES </h1>	
		<%= yield %>
	</div>
</body>
</html>
